
.main-nav{
    padding: 2%;
    background-color:#39B387; 
    min-height: 20%;
    text-align: left;
    font-size: 4.5vh;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 5px 5px 4px black;
}
.main-nav > div{
    margin-right: 5vh;
    
}
.individual-title{
    text-align: left;

}
.search-main{
    width: 80vw;
    font-size: 3.5vh;
    font-weight: bold;
    margin: 0 auto;
}
.search-main .col-sm-6{
    padding-left: 0px;
}
.all-sports{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    margin-top: 3%;
}
.sport {
    height: 31vh;
    width: 12%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    font-size: 3.8vh;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    padding: 2vh;
    background-color: #3C8868;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    -webkit-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 19px 3px rgba(0,0,0,0.75);
    text-shadow: 5px 5px 4px black;
}

.sport:active,
.details:active,
.time-range:active,
.filter-button:active,
.hour:active,
.slot:active,
.single-date:active,
.button:active
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}

.search-box-div{
    font-weight: bold;
    -webkit-box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.46);
    box-shadow: 4px 7px 5px -2px rgba(0,0,0,0.46);
}

.login-custom{
    color: white;
    font-weight: bold;
}