.stadium {
    display: inline-block;
    margin-top:3vh;
    text-align: center;
    margin: 2%;
    width: 20%;
    border-radius: 2vh;
    padding-bottom: 2vh;
    -webkit-box-shadow: 9px 14px 31px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 14px 31px -13px rgba(0,0,0,0.75);
    box-shadow: 9px 14px 31px -13px rgba(0,0,0,0.75);

}
.stadium > img {
    margin-top: 2vh;
    border-radius: 1vh;
    width: 90%;
    height: 30%;
}
.stadium > .details {
    width: 90%;
    text-align: left;
    margin-left: 5%;
    color: #E35059;
}
.details > a {
    text-decoration: none;
    color: #E35059;
}

.stadium > h3.details {
    margin-bottom: 0px;
}
.all-stadia{
    margin-bottom: 4vh;
}